.element__like {
  background-image: url(../../../images/like-white.svg);
  background-color: transparent;
  border: 0;
  height: 19px;
  width: 22px;
  transition: opacity 0.1s ease-in-out;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.element__like:hover {
  opacity: 0.5;
}

@media (hover: none) and (pointer: coarse) {
  .element__like {
    transition: none;
  }

  .element__like:hover {
    opacity: 1;
  }
}
